In [22]:
#829 row is a str
import os, glob
import pandas as pd
import csv
import pprint as pprint
import numpy as np
from sklearn import datasets
from matplotlib import pyplot as plt
from scipy.stats import linregress
%matplotlib inline

path = pd.read_csv("merged.csv")
path.head()

C:\Users\nadzema\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,67,68,71,72,73,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,125,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,151,152,155,156,159,160,167,168,171,172,175,176,177,179,180,183,184,187,188,191,192,195,196,199,200,201,203,204,207,208,211,212,213,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,237,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,279,280,281,282,283,284,285,287,288,289,290,291,292,293,295,296,297,298,299,300,301,303,304,305,306,307,308,309,311,312,313,314,315,316,317,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,349,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,379,380,383,384,387,388,389,391,392,393,395,396,399,400,403,404,405,407,408,411,412,415,416,417,419,420,423,424,427,428,431,432,435,436,439,440,443,445,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,493,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,607,608,609,610,611,612,613,614) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,id,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households,Percent!!HOUSEHOLDS BY TYPE!!Total households,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!Total households,Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple family,Margin of Error!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple family,Percent!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple family,...,Estimate!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a computer,Estimate!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription,County,State
0,1,0500000US01003,"Baldwin County, Alabama",82325,3231,82325,(X),42253,3566,51.3,...,77281,3480,93.9,1.7,71352,3555,86.7,2.3,Baldwin County,Alabama
1,2,0500000US01015,"Calhoun County, Alabama",44636,2010,44636,(X),20571,1976,46.1,...,38833,2317,87.0,3.1,35353,2291,79.2,3.7,Calhoun County,Alabama
2,3,0500000US01043,"Cullman County, Alabama",32090,1233,32090,(X),17070,1332,53.2,...,27889,1303,86.9,2.7,26323,1391,82.0,3.8,Cullman County,Alabama
3,4,0500000US01049,"DeKalb County, Alabama",24880,1347,24880,(X),13623,1516,54.8,...,21513,1469,86.5,3.7,20393,1453,82.0,3.8,DeKalb County,Alabama
4,5,0500000US01051,"Elmore County, Alabama",30712,1330,30712,(X),16257,1636,52.9,...,27867,1566,90.7,3.0,25995,1677,84.6,3.9,Elmore County,Alabama

In [2]:
new_df = path[[ 'Geographic Area Name', "Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree", 
               "Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree"]]
new_df

,Geographic Area Name,Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree,Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree
0,"Baldwin County, Alabama",16170,32781
1,"Calhoun County, Alabama",7112,9082
2,"Cullman County, Alabama",6783,5935
3,"DeKalb County, Alabama",4433,3693
4,"Elmore County, Alabama",5821,9418
...,...,...,...
3967,"Sweetwater County, Wyoming",3374,4136
3968,"Teton County, Wyoming",775,6747
3969,"Uinta County, Wyoming",1351,1433
3970,"Washakie County, Wyoming",560,854
3971,"Weston County, Wyoming",531,682

In [3]:
clean_df = new_df.rename (columns= {"Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree":
                         "Estimate educational attainment Pop 25yrs> Assoc. Degree", 
                         "Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree":
                         "Estimate educational attainment Pop 25yrs> Bachelor's Degree"})
clean_df

,Geographic Area Name,Estimate educational attainment Pop 25yrs> Assoc. Degree,Estimate educational attainment Pop 25yrs> Bachelor's Degree
0,"Baldwin County, Alabama",16170,32781
1,"Calhoun County, Alabama",7112,9082
2,"Cullman County, Alabama",6783,5935
3,"DeKalb County, Alabama",4433,3693
4,"Elmore County, Alabama",5821,9418
...,...,...,...
3967,"Sweetwater County, Wyoming",3374,4136
3968,"Teton County, Wyoming",775,6747
3969,"Uinta County, Wyoming",1351,1433
3970,"Washakie County, Wyoming",560,854
3971,"Weston County, Wyoming",531,682

In [4]:
nick =[]
n=0
for item in clean_df["Estimate educational attainment Pop 25yrs> Assoc. Degree"]:
    
    try:
        int(item)
        nick.append(int(item))
    except:
        print(item)
        print(n)
    n+=1

clean_df = clean_df.drop(829)
clean_df

Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree
829

,Geographic Area Name,Estimate educational attainment Pop 25yrs> Assoc. Degree,Estimate educational attainment Pop 25yrs> Bachelor's Degree
0,"Baldwin County, Alabama",16170,32781
1,"Calhoun County, Alabama",7112,9082
2,"Cullman County, Alabama",6783,5935
3,"DeKalb County, Alabama",4433,3693
4,"Elmore County, Alabama",5821,9418
...,...,...,...
3967,"Sweetwater County, Wyoming",3374,4136
3968,"Teton County, Wyoming",775,6747
3969,"Uinta County, Wyoming",1351,1433
3970,"Washakie County, Wyoming",560,854
3971,"Weston County, Wyoming",531,682

In [5]:
clean_df["Sum of Higher Education"] = clean_df["Estimate educational attainment Pop 25yrs> Assoc. Degree"].astype(int) + clean_df["Estimate educational attainment Pop 25yrs> Bachelor's Degree"].astype(int)
clean_df

,Geographic Area Name,Estimate educational attainment Pop 25yrs> Assoc. Degree,Estimate educational attainment Pop 25yrs> Bachelor's Degree,Sum of Higher Education
0,"Baldwin County, Alabama",16170,32781,48951
1,"Calhoun County, Alabama",7112,9082,16194
2,"Cullman County, Alabama",6783,5935,12718
3,"DeKalb County, Alabama",4433,3693,8126
4,"Elmore County, Alabama",5821,9418,15239
...,...,...,...,...
3967,"Sweetwater County, Wyoming",3374,4136,7510
3968,"Teton County, Wyoming",775,6747,7522
3969,"Uinta County, Wyoming",1351,1433,2784
3970,"Washakie County, Wyoming",560,854,1414
3971,"Weston County, Wyoming",531,682,1213