In [1]:
import os, glob
import pandas as pd
import csv
import pprint as pprint
path = pd.read_csv("census education data/census_data1.csv")
path

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,DP02_0002PE,DP02_0002PM,...,DP02_0151PE,DP02_0151PM,DP02_0152E,DP02_0152M,DP02_0152PE,DP02_0152PM,DP02_0153E,DP02_0153M,DP02_0153PE,DP02_0153PM
0,id,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent!!HOUSEHOLDS BY TYPE!!Total households,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent!!HOUSEHOLDS BY TYPE!!Total households!...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Percent!!COMPUTERS AND INTERNET USE!!Total hou...,Percent Margin of Error!!COMPUTERS AND INTERNE...
1,0500000US01003,"Baldwin County, Alabama",82325,3231,82325,(X),42253,3566,51.3,4.1,...,82325,(X),77281,3480,93.9,1.7,71352,3555,86.7,2.3
2,0500000US01015,"Calhoun County, Alabama",44636,2010,44636,(X),20571,1976,46.1,4.1,...,44636,(X),38833,2317,87.0,3.1,35353,2291,79.2,3.7
3,0500000US01043,"Cullman County, Alabama",32090,1233,32090,(X),17070,1332,53.2,4.1,...,32090,(X),27889,1303,86.9,2.7,26323,1391,82.0,3.8
4,0500000US01049,"DeKalb County, Alabama",24880,1347,24880,(X),13623,1516,54.8,5.0,...,24880,(X),21513,1469,86.5,3.7,20393,1453,82.0,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0500000US72113,"Ponce Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
837,0500000US72127,"San Juan Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
838,0500000US72135,"Toa Alta Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839,0500000US72137,"Toa Baja Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
geo = path["NAME"]
geo
city = []
for row in geo[1:]:
    city.append(row)
city

['Baldwin County, Alabama',
 'Calhoun County, Alabama',
 'Cullman County, Alabama',
 'DeKalb County, Alabama',
 'Elmore County, Alabama',
 'Etowah County, Alabama',
 'Houston County, Alabama',
 'Jefferson County, Alabama',
 'Lauderdale County, Alabama',
 'Lee County, Alabama',
 'Limestone County, Alabama',
 'Madison County, Alabama',
 'Marshall County, Alabama',
 'Mobile County, Alabama',
 'Montgomery County, Alabama',
 'Morgan County, Alabama',
 'St. Clair County, Alabama',
 'Shelby County, Alabama',
 'Talladega County, Alabama',
 'Tuscaloosa County, Alabama',
 'Walker County, Alabama',
 'Anchorage Municipality, Alaska',
 'Fairbanks North Star Borough, Alaska',
 'Matanuska-Susitna Borough, Alaska',
 'Apache County, Arizona',
 'Cochise County, Arizona',
 'Coconino County, Arizona',
 'Maricopa County, Arizona',
 'Mohave County, Arizona',
 'Navajo County, Arizona',
 'Pima County, Arizona',
 'Pinal County, Arizona',
 'Yavapai County, Arizona',
 'Yuma County, Arizona',
 'Benton County, Arkansas',
 'Craighead County, Arkansas',
 'Faulkner County, Arkansas',
 'Garland County, Arkansas',
 'Jefferson County, Arkansas',
 'Lonoke County, Arkansas',
 'Pulaski County, Arkansas',
 'Saline County, Arkansas',
 'Sebastian County, Arkansas',
 'Washington County, Arkansas',
 'White County, Arkansas',
 'Alameda County, California',
 'Butte County, California',
 'Contra Costa County, California',
 'El Dorado County, California',
 'Fresno County, California',
 'Humboldt County, California',
 'Imperial County, California',
 'Kern County, California',
 'Kings County, California',
 'Lake County, California',
 'Los Angeles County, California',
 'Madera County, California',
 'Marin County, California',
 'Mendocino County, California',
 'Merced County, California',
 'Monterey County, California',
 'Napa County, California',
 'Nevada County, California',
 'Orange County, California',
 'Placer County, California',
 'Riverside County, California',
 'Sacramento County, California',
 'San Bernardino County, California',
 'San Diego County, California',
 'San Francisco County, California',
 'San Joaquin County, California',
 'San Luis Obispo County, California',
 'San Mateo County, California',
 'Santa Barbara County, California',
 'Santa Clara County, California',
 'Santa Cruz County, California',
 'Shasta County, California',
 'Solano County, California',
 'Sonoma County, California',
 'Stanislaus County, California',
 'Sutter County, California',
 'Tehama County, California',
 'Tulare County, California',
 'Ventura County, California',
 'Yolo County, California',
 'Yuba County, California',
 'Adams County, Colorado',
 'Arapahoe County, Colorado',
 'Boulder County, Colorado',
 'Broomfield County, Colorado',
 'Denver County, Colorado',
 'Douglas County, Colorado',
 'El Paso County, Colorado',
 'Jefferson County, Colorado',
 'Larimer County, Colorado',
 'Mesa County, Colorado',
 'Pueblo County, Colorado',
 'Weld County, Colorado',
 'Fairfield County, Connecticut',
 'Hartford County, Connecticut',
 'Litchfield County, Connecticut',
 'Middlesex County, Connecticut',
 'New Haven County, Connecticut',
 'New London County, Connecticut',
 'Tolland County, Connecticut',
 'Windham County, Connecticut',
 'Kent County, Delaware',
 'New Castle County, Delaware',
 'Sussex County, Delaware',
 'District of Columbia, District of Columbia',
 'Alachua County, Florida',
 'Bay County, Florida',
 'Brevard County, Florida',
 'Broward County, Florida',
 'Charlotte County, Florida',
 'Citrus County, Florida',
 'Clay County, Florida',
 'Collier County, Florida',
 'Columbia County, Florida',
 'Duval County, Florida',
 'Escambia County, Florida',
 'Flagler County, Florida',
 'Hernando County, Florida',
 'Highlands County, Florida',
 'Hillsborough County, Florida',
 'Indian River County, Florida',
 'Lake County, Florida',
 'Lee County, Florida',
 'Leon County, Florida',
 'Manatee County, Florida',
 'Marion County, Florida',
 'Martin County, Florida',
 'Miami-Dade County, Florida',
 'Monroe County, Florida',
 'Nassau County, Florida',
 'Okaloosa County, Florida',
 'Orange County, Florida',
 'Osceola County, Florida',
 'Palm Beach County, Florida',
 'Pasco County, Florida',
 'Pinellas County, Florida',
 'Polk County, Florida',
 'Putnam County, Florida',
 'St. Johns County, Florida',
 'St. Lucie County, Florida',
 'Santa Rosa County, Florida',
 'Sarasota County, Florida',
 'Seminole County, Florida',
 'Sumter County, Florida',
 'Volusia County, Florida',
 'Walton County, Florida',
 'Barrow County, Georgia',
 'Bartow County, Georgia',
 'Bibb County, Georgia',
 'Bulloch County, Georgia',
 'Carroll County, Georgia',
 'Catoosa County, Georgia',
 'Chatham County, Georgia',
 'Cherokee County, Georgia',
 'Clarke County, Georgia',
 'Clayton County, Georgia',
 'Cobb County, Georgia',
 'Columbia County, Georgia',
 'Coweta County, Georgia',
 'DeKalb County, Georgia',
 'Dougherty County, Georgia',
 'Douglas County, Georgia',
 'Fayette County, Georgia',
 'Floyd County, Georgia',
 'Forsyth County, Georgia',
 'Fulton County, Georgia',
 'Glynn County, Georgia',
 'Gwinnett County, Georgia',
 'Hall County, Georgia',
 'Henry County, Georgia',
 'Houston County, Georgia',
 'Jackson County, Georgia',
 'Lowndes County, Georgia',
 'Muscogee County, Georgia',
 'Newton County, Georgia',
 'Paulding County, Georgia',
 'Richmond County, Georgia',
 'Rockdale County, Georgia',
 'Spalding County, Georgia',
 'Troup County, Georgia',
 'Walker County, Georgia',
 'Walton County, Georgia',
 'Whitfield County, Georgia',
 'Hawaii County, Hawaii',
 'Honolulu County, Hawaii',
 'Kauai County, Hawaii',
 'Maui County, Hawaii',
 'Ada County, Idaho',
 'Bannock County, Idaho',
 'Bonneville County, Idaho',
 'Canyon County, Idaho',
 'Kootenai County, Idaho',
 'Twin Falls County, Idaho',
 'Adams County, Illinois',
 'Champaign County, Illinois',
 'Cook County, Illinois',
 'DeKalb County, Illinois',
 'DuPage County, Illinois',
 'Kane County, Illinois',
 'Kankakee County, Illinois',
 'Kendall County, Illinois',
 'Lake County, Illinois',
 'LaSalle County, Illinois',
 'McHenry County, Illinois',
 'McLean County, Illinois',
 'Macon County, Illinois',
 'Madison County, Illinois',
 'Peoria County, Illinois',
 'Rock Island County, Illinois',
 'St. Clair County, Illinois',
 'Sangamon County, Illinois',
 'Tazewell County, Illinois',
 'Vermilion County, Illinois',
 'Will County, Illinois',
 'Williamson County, Illinois',
 'Winnebago County, Illinois',
 'Allen County, Indiana',
 'Bartholomew County, Indiana',
 'Boone County, Indiana',
 'Clark County, Indiana',
 'Delaware County, Indiana',
 'Elkhart County, Indiana',
 'Floyd County, Indiana',
 'Grant County, Indiana',
 'Hamilton County, Indiana',
 'Hancock County, Indiana',
 'Hendricks County, Indiana',
 'Howard County, Indiana',
 'Johnson County, Indiana',
 'Kosciusko County, Indiana',
 'Lake County, Indiana',
 'LaPorte County, Indiana',
 'Madison County, Indiana',
 'Marion County, Indiana',
 'Monroe County, Indiana',
 'Morgan County, Indiana',
 'Porter County, Indiana',
 'St. Joseph County, Indiana',
 'Tippecanoe County, Indiana',
 'Vanderburgh County, Indiana',
 'Vigo County, Indiana',
 'Wayne County, Indiana',
 'Black Hawk County, Iowa',
 'Dallas County, Iowa',
 'Dubuque County, Iowa',
 'Johnson County, Iowa',
 'Linn County, Iowa',
 'Polk County, Iowa',
 'Pottawattamie County, Iowa',
 'Scott County, Iowa',
 'Story County, Iowa',
 'Woodbury County, Iowa',
 'Butler County, Kansas',
 'Douglas County, Kansas',
 'Johnson County, Kansas',
 'Leavenworth County, Kansas',
 'Riley County, Kansas',
 'Sedgwick County, Kansas',
 'Shawnee County, Kansas',
 'Wyandotte County, Kansas',
 'Boone County, Kentucky',
 'Bullitt County, Kentucky',
 'Campbell County, Kentucky',
 'Christian County, Kentucky',
 'Daviess County, Kentucky',
 'Fayette County, Kentucky',
 'Hardin County, Kentucky',
 'Jefferson County, Kentucky',
 'Kenton County, Kentucky',
 'McCracken County, Kentucky',
 'Madison County, Kentucky',
 'Oldham County, Kentucky',
 'Warren County, Kentucky',
 'Ascension Parish, Louisiana',
 'Bossier Parish, Louisiana',
 'Caddo Parish, Louisiana',
 'Calcasieu Parish, Louisiana',
 'East Baton Rouge Parish, Louisiana',
 'Iberia Parish, Louisiana',
 'Jefferson Parish, Louisiana',
 'Lafayette Parish, Louisiana',
 'Lafourche Parish, Louisiana',
 'Livingston Parish, Louisiana',
 'Orleans Parish, Louisiana',
 'Ouachita Parish, Louisiana',
 'Rapides Parish, Louisiana',
 'St. Landry Parish, Louisiana',
 'St. Tammany Parish, Louisiana',
 'Tangipahoa Parish, Louisiana',
 'Terrebonne Parish, Louisiana',
 'Androscoggin County, Maine',
 'Aroostook County, Maine',
 'Cumberland County, Maine',
 'Kennebec County, Maine',
 'Penobscot County, Maine',
 'York County, Maine',
 'Allegany County, Maryland',
 'Anne Arundel County, Maryland',
 'Baltimore County, Maryland',
 'Calvert County, Maryland',
 'Carroll County, Maryland',
 'Cecil County, Maryland',
 'Charles County, Maryland',
 'Frederick County, Maryland',
 'Harford County, Maryland',
 'Howard County, Maryland',
 'Montgomery County, Maryland',
 "Prince George's County, Maryland",
 "St. Mary's County, Maryland",
 'Washington County, Maryland',
 'Wicomico County, Maryland',
 'Baltimore city, Maryland',
 'Barnstable County, Massachusetts',
 'Berkshire County, Massachusetts',
 'Bristol County, Massachusetts',
 'Essex County, Massachusetts',
 'Franklin County, Massachusetts',
 'Hampden County, Massachusetts',
 'Hampshire County, Massachusetts',
 'Middlesex County, Massachusetts',
 'Norfolk County, Massachusetts',
 'Plymouth County, Massachusetts',
 'Suffolk County, Massachusetts',
 'Worcester County, Massachusetts',
 'Allegan County, Michigan',
 'Bay County, Michigan',
 'Berrien County, Michigan',
 'Calhoun County, Michigan',
 'Clinton County, Michigan',
 'Eaton County, Michigan',
 'Genesee County, Michigan',
 'Grand Traverse County, Michigan',
 'Ingham County, Michigan',
 'Isabella County, Michigan',
 'Jackson County, Michigan',
 'Kalamazoo County, Michigan',
 'Kent County, Michigan',
 'Lapeer County, Michigan',
 'Lenawee County, Michigan',
 'Livingston County, Michigan',
 'Macomb County, Michigan',
 'Marquette County, Michigan',
 'Midland County, Michigan',
 'Monroe County, Michigan',
 'Muskegon County, Michigan',
 'Oakland County, Michigan',
 'Ottawa County, Michigan',
 'Saginaw County, Michigan',
 'St. Clair County, Michigan',
 'Shiawassee County, Michigan',
 'Van Buren County, Michigan',
 'Washtenaw County, Michigan',
 'Wayne County, Michigan',
 'Anoka County, Minnesota',
 'Blue Earth County, Minnesota',
 'Carver County, Minnesota',
 'Crow Wing County, Minnesota',
 'Dakota County, Minnesota',
 'Hennepin County, Minnesota',
 'Olmsted County, Minnesota',
 'Ramsey County, Minnesota',
 'Rice County, Minnesota',
 'St. Louis County, Minnesota',
 'Scott County, Minnesota',
 'Sherburne County, Minnesota',
 'Stearns County, Minnesota',
 'Washington County, Minnesota',
 'Wright County, Minnesota',
 'DeSoto County, Mississippi',
 'Forrest County, Mississippi',
 'Harrison County, Mississippi',
 'Hinds County, Mississippi',
 'Jackson County, Mississippi',
 'Jones County, Mississippi',
 'Lauderdale County, Mississippi',
 'Lee County, Mississippi',
 'Madison County, Mississippi',
 'Rankin County, Mississippi',
 'Boone County, Missouri',
 'Buchanan County, Missouri',
 'Cape Girardeau County, Missouri',
 'Cass County, Missouri',
 'Christian County, Missouri',
 'Clay County, Missouri',
 'Cole County, Missouri',
 'Franklin County, Missouri',
 'Greene County, Missouri',
 'Jackson County, Missouri',
 'Jasper County, Missouri',
 'Jefferson County, Missouri',
 'Platte County, Missouri',
 'St. Charles County, Missouri',
 'St. Francois County, Missouri',
 'St. Louis County, Missouri',
 'St. Louis city, Missouri',
 'Cascade County, Montana',
 'Flathead County, Montana',
 'Gallatin County, Montana',
 'Lewis and Clark County, Montana',
 'Missoula County, Montana',
 'Yellowstone County, Montana',
 'Douglas County, Nebraska',
 'Lancaster County, Nebraska',
 'Sarpy County, Nebraska',
 'Clark County, Nevada',
 'Washoe County, Nevada',
 'Cheshire County, New Hampshire',
 'Grafton County, New Hampshire',
 'Hillsborough County, New Hampshire',
 'Merrimack County, New Hampshire',
 'Rockingham County, New Hampshire',
 'Strafford County, New Hampshire',
 'Atlantic County, New Jersey',
 'Bergen County, New Jersey',
 'Burlington County, New Jersey',
 'Camden County, New Jersey',
 'Cape May County, New Jersey',
 'Cumberland County, New Jersey',
 'Essex County, New Jersey',
 'Gloucester County, New Jersey',
 'Hudson County, New Jersey',
 'Hunterdon County, New Jersey',
 'Mercer County, New Jersey',
 'Middlesex County, New Jersey',
 'Monmouth County, New Jersey',
 'Morris County, New Jersey',
 'Ocean County, New Jersey',
 'Passaic County, New Jersey',
 'Salem County, New Jersey',
 'Somerset County, New Jersey',
 'Sussex County, New Jersey',
 'Union County, New Jersey',
 'Warren County, New Jersey',
 'Bernalillo County, New Mexico',
 'Chaves County, New Mexico',
 'Doña Ana County, New Mexico',
 'Lea County, New Mexico',
 'McKinley County, New Mexico',
 'Otero County, New Mexico',
 'Sandoval County, New Mexico',
 'San Juan County, New Mexico',
 'Santa Fe County, New Mexico',
 'Valencia County, New Mexico',
 'Albany County, New York',
 'Bronx County, New York',
 'Broome County, New York',
 'Cattaraugus County, New York',
 'Cayuga County, New York',
 'Chautauqua County, New York',
 'Chemung County, New York',
 'Clinton County, New York',
 'Dutchess County, New York',
 'Erie County, New York',
 'Jefferson County, New York',
 'Kings County, New York',
 'Livingston County, New York',
 'Madison County, New York',
 'Monroe County, New York',
 'Nassau County, New York',
 'New York County, New York',
 'Niagara County, New York',
 'Oneida County, New York',
 'Onondaga County, New York',
 'Ontario County, New York',
 'Orange County, New York',
 'Oswego County, New York',
 'Putnam County, New York',
 'Queens County, New York',
 'Rensselaer County, New York',
 'Richmond County, New York',
 'Rockland County, New York',
 'St. Lawrence County, New York',
 'Saratoga County, New York',
 'Schenectady County, New York',
 'Steuben County, New York',
 'Suffolk County, New York',
 'Sullivan County, New York',
 'Tompkins County, New York',
 'Ulster County, New York',
 'Warren County, New York',
 'Wayne County, New York',
 'Westchester County, New York',
 'Alamance County, North Carolina',
 'Brunswick County, North Carolina',
 'Buncombe County, North Carolina',
 'Burke County, North Carolina',
 'Cabarrus County, North Carolina',
 'Caldwell County, North Carolina',
 'Carteret County, North Carolina',
 'Catawba County, North Carolina',
 'Chatham County, North Carolina',
 'Cleveland County, North Carolina',
 'Craven County, North Carolina',
 'Cumberland County, North Carolina',
 'Davidson County, North Carolina',
 'Durham County, North Carolina',
 'Forsyth County, North Carolina',
 'Franklin County, North Carolina',
 'Gaston County, North Carolina',
 'Guilford County, North Carolina',
 'Harnett County, North Carolina',
 'Henderson County, North Carolina',
 'Iredell County, North Carolina',
 'Johnston County, North Carolina',
 'Lincoln County, North Carolina',
 'Mecklenburg County, North Carolina',
 'Moore County, North Carolina',
 'Nash County, North Carolina',
 'New Hanover County, North Carolina',
 'Onslow County, North Carolina',
 'Orange County, North Carolina',
 'Pitt County, North Carolina',
 'Randolph County, North Carolina',
 'Robeson County, North Carolina',
 'Rockingham County, North Carolina',
 'Rowan County, North Carolina',
 'Rutherford County, North Carolina',
 'Surry County, North Carolina',
 'Union County, North Carolina',
 'Wake County, North Carolina',
 'Wayne County, North Carolina',
 'Wilkes County, North Carolina',
 'Wilson County, North Carolina',
 'Burleigh County, North Dakota',
 'Cass County, North Dakota',
 'Grand Forks County, North Dakota',
 'Ward County, North Dakota',
 'Allen County, Ohio',
 'Ashtabula County, Ohio',
 'Athens County, Ohio',
 'Belmont County, Ohio',
 'Butler County, Ohio',
 'Clark County, Ohio',
 'Clermont County, Ohio',
 'Columbiana County, Ohio',
 'Cuyahoga County, Ohio',
 'Delaware County, Ohio',
 'Erie County, Ohio',
 'Fairfield County, Ohio',
 'Franklin County, Ohio',
 'Geauga County, Ohio',
 'Greene County, Ohio',
 'Hamilton County, Ohio',
 'Hancock County, Ohio',
 'Jefferson County, Ohio',
 'Lake County, Ohio',
 'Licking County, Ohio',
 'Lorain County, Ohio',
 'Lucas County, Ohio',
 'Mahoning County, Ohio',
 'Marion County, Ohio',
 'Medina County, Ohio',
 'Miami County, Ohio',
 'Montgomery County, Ohio',
 'Muskingum County, Ohio',
 'Portage County, Ohio',
 'Richland County, Ohio',
 'Ross County, Ohio',
 'Scioto County, Ohio',
 'Stark County, Ohio',
 'Summit County, Ohio',
 'Trumbull County, Ohio',
 'Tuscarawas County, Ohio',
 'Warren County, Ohio',
 'Wayne County, Ohio',
 'Wood County, Ohio',
 'Canadian County, Oklahoma',
 'Cleveland County, Oklahoma',
 'Comanche County, Oklahoma',
 'Creek County, Oklahoma',
 'Muskogee County, Oklahoma',
 'Oklahoma County, Oklahoma',
 'Payne County, Oklahoma',
 'Pottawatomie County, Oklahoma',
 'Rogers County, Oklahoma',
 'Tulsa County, Oklahoma',
 'Wagoner County, Oklahoma',
 'Benton County, Oregon',
 'Clackamas County, Oregon',
 'Deschutes County, Oregon',
 'Douglas County, Oregon',
 'Jackson County, Oregon',
 'Josephine County, Oregon',
 'Klamath County, Oregon',
 'Lane County, Oregon',
 'Linn County, Oregon',
 'Marion County, Oregon',
 'Multnomah County, Oregon',
 'Polk County, Oregon',
 'Umatilla County, Oregon',
 'Washington County, Oregon',
 'Yamhill County, Oregon',
 'Adams County, Pennsylvania',
 'Allegheny County, Pennsylvania',
 'Armstrong County, Pennsylvania',
 'Beaver County, Pennsylvania',
 'Berks County, Pennsylvania',
 'Blair County, Pennsylvania',
 'Bucks County, Pennsylvania',
 'Butler County, Pennsylvania',
 'Cambria County, Pennsylvania',
 'Carbon County, Pennsylvania',
 'Centre County, Pennsylvania',
 'Chester County, Pennsylvania',
 'Clearfield County, Pennsylvania',
 'Columbia County, Pennsylvania',
 'Crawford County, Pennsylvania',
 'Cumberland County, Pennsylvania',
 'Dauphin County, Pennsylvania',
 'Delaware County, Pennsylvania',
 'Erie County, Pennsylvania',
 'Fayette County, Pennsylvania',
 'Franklin County, Pennsylvania',
 'Indiana County, Pennsylvania',
 'Lackawanna County, Pennsylvania',
 'Lancaster County, Pennsylvania',
 'Lawrence County, Pennsylvania',
 'Lebanon County, Pennsylvania',
 'Lehigh County, Pennsylvania',
 'Luzerne County, Pennsylvania',
 'Lycoming County, Pennsylvania',
 'Mercer County, Pennsylvania',
 'Monroe County, Pennsylvania',
 'Montgomery County, Pennsylvania',
 'Northampton County, Pennsylvania',
 'Northumberland County, Pennsylvania',
 'Philadelphia County, Pennsylvania',
 'Schuylkill County, Pennsylvania',
 'Somerset County, Pennsylvania',
 'Washington County, Pennsylvania',
 'Westmoreland County, Pennsylvania',
 'York County, Pennsylvania',
 'Kent County, Rhode Island',
 'Newport County, Rhode Island',
 'Providence County, Rhode Island',
 'Washington County, Rhode Island',
 'Aiken County, South Carolina',
 'Anderson County, South Carolina',
 'Beaufort County, South Carolina',
 'Berkeley County, South Carolina',
 'Charleston County, South Carolina',
 'Darlington County, South Carolina',
 'Dorchester County, South Carolina',
 'Florence County, South Carolina',
 'Greenville County, South Carolina',
 'Greenwood County, South Carolina',
 'Horry County, South Carolina',
 'Kershaw County, South Carolina',
 'Lancaster County, South Carolina',
 'Laurens County, South Carolina',
 'Lexington County, South Carolina',
 'Oconee County, South Carolina',
 'Orangeburg County, South Carolina',
 'Pickens County, South Carolina',
 'Richland County, South Carolina',
 'Spartanburg County, South Carolina',
 'Sumter County, South Carolina',
 'York County, South Carolina',
 'Minnehaha County, South Dakota',

In [3]:
#three years and over school estimate
three = path["DP02_0053E"]
three_years_and_over= []
for row in three[1:]:
    three_years_and_over.append(row)
len(three_years_and_over)

840

In [4]:
#three years and over HIGHschool estimate (9th-12th grade)
threehs = path["DP02_0057E"]
three_years_and_overhs= []
for row in threehs[1:]:
    three_years_and_overhs.append(row)
len(three_years_and_overhs)

840

In [5]:
#three years and over school COLLEGE estimate
threecollege = path["DP02_0058E"]
three_years_and_overcollege= []
for row in threecollege[1:]:
    three_years_and_overcollege.append(row)
len(three_years_and_overcollege)

840

In [6]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over
twentyfive = path["DP02_0059E"]
twentyfiveolder= []
for row in twentyfive[1:]:
    twentyfiveolder.append(row)
len(twentyfiveolder)

840

In [7]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Less than 9th grade
twentyfive9th = path["DP02_0060E"]
twentyfive9thgrade= []
for row in twentyfive9th[1:]:
    twentyfive9thgrade.append(row)
len(twentyfive9thgrade)

840

In [8]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!9th to 12th grade, no diploma
twentyfive9thNO = path["DP02_0061E"]
twentyfive9thgradeNO= []
for row in twentyfive9thNO[1:]:
    twentyfive9thgradeNO.append(row)
len(twentyfive9thgradeNO)

840

In [9]:
#######Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)
over25 = path["DP02_0062E"]
over25grad= []
for row in over25[2:]:
    over25grad.append(row)
over25grad

['27277',
 '17924',
 '17881',
 '19992',
 '23037',
 '22300',
 '121638',
 '21989',
 '22314',
 '22913',
 '50143',
 '21230',
 '101149',
 '37602',
 '29020',
 '22413',
 '30045',
 '19600',
 '40380',
 '15714',
 '48046',
 '12724',
 '23545',
 '14470',
 '23731',
 '17279',
 '671626',
 '55224',
 '20945',
 '156065',
 '97185',
 '47369',
 '35591',
 '53130',
 '23643',
 '24953',
 '20930',
 '18015',
 '20122',
 '70334',
 '29344',
 '24440',
 '39707',
 '21972',
 '206361',
 '31262',
 '143469',
 '31638',
 '136503',
 '19235',
 '26050',
 '155083',
 '21507',
 '14354',
 '1438678',
 '25071',
 '21022',
 '13788',
 '40709',
 '57017',
 '17961',
 '17061',
 '391016',
 '50657',
 '425630',
 '246619',
 '358404',
 '415370',
 '83279',
 '141126',
 '37166',
 '85336',
 '50633',
 '185865',
 '27947',
 '31700',
 '73322',
 '68082',
 '106940',
 '14560',
 '14839',
 '70964',
 '120731',
 '26233',
 '12955',
 '100428',
 '89876',
 '22028',
 '6653',
 '90398',
 '29349',
 '98112',
 '84577',
 '42827',
 '29498',
 '33985',
 '52714',
 '141693',
 '160355',
 '41484',
 '31908',
 '183855',
 '53513',
 '26915',
 '28638',
 '38869',
 '115494',
 '53279',
 '79881',
 '33057',
 '36115',
 '125446',
 '393304',
 '56412',
 '37558',
 '42188',
 '79547',
 '20456',
 '188630',
 '64979',
 '30934',
 '47866',
 '28880',
 '273738',
 '36038',
 '82050',
 '181330',
 '32025',
 '90491',
 '100297',
 '30810',
 '507716',
 '16034',
 '20436',
 '40117',
 '236539',
 '72733',
 '261427',
 '132873',
 '206958',
 '172422',
 '20910',
 '41562',
 '79655',
 '36575',
 '97060',
 '71422',
 '37763',
 '136707',
 '15310',
 '17455',
 '25148',
 '30714',
 '13991',
 '27535',
 '15118',
 '48665',
 '40649',
 '11545',
 '64360',
 '93519',
 '22367',
 '27107',
 '111366',
 '15718',
 '28822',
 '16897',
 '24571',
 '22895',
 '112161',
 '16862',
 '126919',
 '36385',
 '51749',
 '31656',
 '16735',
 '22551',
 '33601',
 '24615',
 '34013',
 '46959',
 '17558',
 '19255',
 '18838',
 '17412',
 '21045',
 '19812',
 '44801',
 '175946',
 '15629',
 '37043',
 '65205',
 '13887',
 '18844',
 '43111',
 '29628',
 '14561',
 '17182',
 '27805',
 '816922',
 '14775',
 '119928',
 '84639',
 '27236',
 '18067',
 '93219',
 '29000',
 '56597',
 '23199',
 '28800',
 '53092',
 '36006',
 '29582',
 '48719',
 '38247',
 '29836',
 '23069',
 '126042',
 '14533',
 '58883',
 '68299',
 '16835',
 '7577',
 '27726',
 '26287',
 '48765',
 '17319',
 '17161',
 '30186',
 '16496',
 '34092',
 '19730',
 '34376',
 '18857',
 '119767',
 '30369',
 '35135',
 '190148',
 '20670',
 '18883',
 '44467',
 '57334',
 '29562',
 '42621',
 '23987',
 '16182',
 '27384',
 '10459',
 '22396',
 '14207',
 '43136',
 '78084',
 '20241',
 '32719',
 '9246',
 '21816',
 '11679',
 '15135',
 '61327',
 '15582',
 '6639',
 '89109',
 '36989',
 '35185',
 '23168',
 '23421',
 '17352',
 '11646',
 '21439',
 '44780',
 '23230',
 '142555',
 '32953',
 '15157',
 '17396',
 '10631',
 '20878',
 '28291',
 '28221',
 '55690',
 '47580',
 '79314',
 '22259',
 '92849',
 '48017',
 '26596',
 '33104',
 '64474',
 '32692',
 '31489',
 '23211',
 '48162',
 '31144',
 '29048',
 '25890',
 '20293',
 '45878',
 '29443',
 '35889',
 '47707',
 '21339',
 '93519',
 '146811',
 '20589',
 '33395',
 '25511',
 '35122',
 '43128',
 '45149',
 '29410',
 '104474',
 '161056',
 '25220',
 '39492',
 '20697',
 '118267',
 '33904',
 '27263',
 '119682',
 '134150',
 '14502',
 '106999',
 '18667',
 '216402',
 '93366',
 '104164',
 '121115',
 '162680',
 '33720',
 '25717',
 '29250',
 '34462',
 '14534',
 '22542',
 '86307',
 '15157',
 '38313',
 '13511',
 '39897',
 '37992',
 '103697',
 '21717',
 '24438',
 '36624',
 '189992',
 '13562',
 '16896',
 '34374',
 '40666',
 '169373',
 '51523',
 '43829',
 '36229',
 '19209',
 '16744',
 '33141',
 '371317',
 '66496',
 '10409',
 '10474',
 '14259',
 '61528',
 '145356',
 '22424',
 '80700',
 '12956',
 '36310',
 '20015',
 '19579',
 '29311',
 '37826',
 '26236',
 '33888',
 '13983',
 '41518',
 '37006',
 '29817',
 '15720',
 '12755',
 '14830',
 '14407',
 '27363',
 '22003',
 '25757',
 '14823',
 '27290',
 '17212',
 '49529',
 '15861',
 '23797',
 '55861',
 '142213',
 '26238',
 '50369',
 '17028',
 '64719',
 '17887',
 '148663',
 '53754',
 '18396',
 '20571',
 '13242',
 '11672',
 '18062',
 '34909',
 '80965',
 '40395',
 '28119',
 '440002',
 '73923',
 '16410',
 '15293',
 '78345',
 '31608',
 '63457',
 '23447',
 '62031',
 '138581',
 '86330',
 '105369',
 '24431',
 '41449',
 '160914',
 '64869',
 '112271',
 '17430',
 '57906',
 '139655',
 '100471',
 '67719',
 '144122',
 '118879',
 '16573',
 '47188',
 '27266',
 '110198',
 '22669',
 '113185',
 '10542',
 '28024',
 '11818',
 '16482',
 '14645',
 '26993',
 '24706',
 '21824',
 '16506',
 '43776',
 '271874',
 '39186',
 '20668',
 '18648',
 '29846',
 '19181',
 '20090',
 '57180',
 '181853',
 '25321',
 '472167',
 '14509',
 '18088',
 '114172',
 '207529',
 '158877',
 '47012',
 '48085',
 '82893',
 '20647',
 '67933',
 '28518',
 '19030',
 '446542',
 '31615',
 '97259',
 '43317',
 '25602',
 '40812',
 '31368',
 '24600',
 '271535',
 '19121',
 '10180',
 '37183',
 '13350',
 '21727',
 '129521',
 '34596',
 '30257',
 '46011',
 '22081',
 '37386',
 '17289',
 '13771',
 '32022',
 '11838',
 '23511',
 '18526',
 '56438',
 '42438',
 '41630',
 '68338',
 '14923',
 '46675',
 '80865',
 '26710',
 '21545',
 '35183',
 '34542',
 '20213',
 '121680',
 '15840',
 '24324',
 '31044',
 '32295',
 '12281',
 '28701',
 '34692',
 '29451',
 '27272',
 '29968',
 '15183',
 '13858',
 '36140',
 '113857',
 '25703',
 '17410',
 '17984',
 '15382',
 '25953',
 '8016',
 '12454',
 '28962',
 '31105',
 '11564',
 '22523',
 '83176',
 '38412',
 '45977',
 '34262',
 '235550',
 '25538',
 '19914',
 '36134',
 '207801',
 '16874',
 '26857',
 '143561',
 '18331',
 '21190',
 '51708',
 '39813',
 '68192',
 '85364',
 '58602',
 '20235',
 '38595',
 '27063',
 '98494',
 '24470',
 '40809',
 '34298',
 '24885',
 '19965',
 '103940',
 '116682',
 '60812',
 '28288',
 '43647',
 '28448',
 '24457',
 '30934',
 '43318',
 '26597',
 '19755',
 '14058',
 '135646',
 '12585',
 '17851',
 '19179',
 '108593',
 '18419',
 '7404',
 '66683',
 '27455',
 '28309',
 '45144',
 '21697',
 '16043',
 '61427',
 '24269',
 '55994',
 '101685',
 '12240',
 '15126',
 '80335',
 '17716',
 '30948',
 '231835',
 '24906',
 '39963',
 '107603',
 '38805',
 '123559',
 '43170',
 '43640',
 '22380',
 '28690',
 '72860',
 '30342',
 '18598',
 '27231',
 '54350',
 '65325',
 '112895',
 '68212',
 '44620',
 '48540',
 '24707',
 '56718',
 '128767',
 '27415',
 '43389',
 '89032',
 '90591',
 '31786',
 '32672',
 '41936',
 '133574',
 '75756',
 '34731',
 '353708',
 '49010',
 '26327',
 '51614',
 '96209',
 '119648',
 '35687',
 '14498',
 '132456',
 '21143',
 '37104',
 '44243',
 '29727',
 '45798',
 '59965',
 '16543',
 '28188',
 '32478',
 '81955',
 '15192',
 '86478',
 '14904',
 '19629',
 '16057',
 '54718',
 '17969',
 '18616',
 '23780',
 '56656',
 '62044',
 '21517',
 '45682',
 '32467',
 '21464',
 '20336',
 '34844',
 '25330',
 '95929',
 '20957',
 '62378',
 '80802',
 '22257',
 '22694',
 '35410',
 '17266',
 '17948',
 '56900',
 '26802',
 '174316',
 '38831',
 '40382',
 '27412',
 '21074',
 '29760',
 '18586',
 '20132',
 '57293',
 '330817',
 '20895',
 '67006',
 '27159',
 '65981',
 '110941',
 '25645',
 '14186',
 '402635',
 '102928',
 '30270',
 '33064',
 '132635',
 '91850',
 '60883',
 '28562',
 '22677',
 '32505',
 '717709',
 '14097',
 '35664',
 '20776',
 '120675',
 '22132',
 '50876',
 '45676',
 '27021',
 '20849',
 '47118',
 '41352',
 '25432',
 '92397',
 '12161',
 '74364',
 '17615',
 '26238',
 '23420',
 '22474',
 '12273',
 '15605',
 '36383',
 '331957',
 '26434',
 '22768',
 '140186',
 '18813',
 '18755',
 '30963',
 '29657',
 '83064',
 '16981',
 '14431',
 '43705',
 '168024',
 '14142',
 '57050',
 '25469',
 '46785',
 '20500',
 '11320',
 '12598',
 '23061',
 '14454',
 '57475',
 '94511',
 '12767',
 '20226',
 '19502',
 '50596',
 '10840',
 '32470',
 '15374',
 '54935',
 '16690',
 '20087',
 '25979',
 '24737',
 '8636',
 '12753',
 '40613',
 '27376',
 '10908',
 '35611',
 '39397',
 '18627',
 '35423',
 '24386',
 '15761',
 '58145',
 '32160',
 '13261',
 '15913',
 '87594',
 '22743',
 '15039',
 '17772',
 '20219',
 '12417',
 '233533',
 '42413',
 '16175',
 '14765',
 '170434',
 '23354',
 '133513',
 '81040',
 '46261',
 '36649',
 '42786',
 '31278',
 '20535',
 '19096',
 '50478',
 '15771',
 '21463',
 '19740',
 '53601',
 '60651',
 '25052',
 '17180',
 '26237',
 '20386',
 '33102',
 '20870',
 '22273',
 '33060',
 '182195',
 '41131',
 '14486',
 '15431',
 '40845',
 '41390',
 '15195',
 '28075',
 '21733',
 '29361',
 '61336',
 '38072',
 '20546',
 '18995',
 '18647',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [10]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college, no degree
over25some = path["DP02_0063E"]
over25somecoll= []
for row in over25some[1:]:
    over25somecoll.append(row)
len(over25somecoll)

840

In [11]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree
over25assoc = path["DP02_0064E"]
over25assoccoll= []
for row in over25assoc[1:]:
    over25assoccoll.append(row)
len(over25assoccoll)

840

In [12]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree
over25bach = path["DP02_0065E"]
over25bachcoll= []
for row in over25bach[1:]:
    over25bachcoll.append(row)
len(over25bachcoll)

840

In [13]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree
over25grad = path["DP02_0066E"]
over25gradcoll= []
for row in over25grad[1:]:
    over25gradcoll.append(row)
len(over25gradcoll)

840

In [14]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate or higher
over25hs = path["DP02_0067E"]
over25hshigher = []
for row in over25hs[1:]:
    over25hshigher.append(row)
len(over25hshigher)

840

In [15]:
#Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher
over25bach = path["DP02_0068E"]
over25bachhigher = []
for row in over25bach[1:]:
    over25bachhigher.append(row)
len(over25bachhigher)

840

In [16]:
educationdata = pd.DataFrame({'City':city, '3 Years and Over': three_years_and_over, 'Three Years and Over High School (9th-12th)':three_years_and_overhs, 
                              'Three Years and Over College': three_years_and_overcollege, 'Population 25 and Older': twentyfiveolder, 
                              '25 and Older in Less than 9th Grade': twentyfive9thgrade, '25 and Older in Less than 9th Grade: No Diploma': twentyfive9thgradeNO,
                               '25 and Older: Some College No Degree': over25somecoll,
                              '25 and Older: Associates Degree': over25assoccoll, '25 and Older: Bachelors Degree': over25bachcoll, 
                              '25 and Older: Graduate or Professional Degree': over25gradcoll, 'Population 25 or Older: High School Grad or Higher': over25hshigher,
                              'Population 25 or Older: Bachelors Degree or Higher': over25bachhigher})
educationdata

,City,3 Years and Over,Three Years and Over High School (9th-12th),Three Years and Over College,Population 25 and Older,25 and Older in Less than 9th Grade,25 and Older in Less than 9th Grade: No Diploma,25 and Older: Some College No Degree,25 and Older: Associates Degree,25 and Older: Bachelors Degree,25 and Older: Graduate or Professional Degree,Population 25 or Older: High School Grad or Higher,Population 25 or Older: Bachelors Degree or Higher
0,"Baldwin County, Alabama",47583,11633,10027,159717,3090,12068,35034,16170,32781,18690,144559,51471
1,"Calhoun County, Alabama",26109,4287,8020,79084,3324,8871,17243,7112,9082,6175,66889,15257
2,"Cullman County, Alabama",18611,3857,3456,58795,2649,8365,13833,6783,5935,3306,47781,9241
3,"DeKalb County, Alabama",17582,4125,3442,47007,4668,5375,8651,4433,3693,2306,36964,5999
4,"Elmore County, Alabama",17678,4707,3221,57553,2087,3853,11490,5821,9418,4892,51613,14310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,"Ponce Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,"San Juan Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
837,"Toa Alta Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
838,"Toa Baja Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839,"Trujillo Alto Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#41,884 is skipped in index 0 for some reason....doesnt line up with 840 
separate= pd.DataFrame({'25 and Older High School Graduates': over25grad})
separate

                    25 and Older High School Graduates
0    Estimate!!EDUCATIONAL ATTAINMENT!!Population 2...
1                                                18690
2                                                 6175
3                                                 3306
4                                                 2306
..                                                 ...
836                                                NaN
837                                                NaN
838                                                NaN
839                                                NaN
840                                                NaN

[841 rows x 1 columns]